/* 定義變數區 */
:root {
  /* 定義畫面大小 */
  --display-width: 1280px;
  --display-height: 720px;
}
#app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.opening{
  text-align: center;
  width: var(--display-width);
  height: var(--display-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('http://www.bmss.com/wp-content/uploads/2017/03/Red-Flag-Rule-Photo-e1488549729472.jpeg');
  background-size: cover;
  background-position: right;
}
/* .game-over{
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5UE5fotjYhzq7GLiKfiRIBpa61HJZGfQDWhqFEu7UcYYpQGEgfQ');
} */
.opening h1{
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 0 0 1rem white;
  letter-spacing: 1rem;
}
.opening h2{
  font-size: 3rem;
  margin-bottom: 5rem;
  font-weight: bold;
}
.opening h1 b{
  font-size: 9rem;
}
button.start{
  font-size: 3rem;
}
.display{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: var(--display-width);
  height: var(--display-height);
}
#video, #canvas {
  position: absolute;
  transform: rotateY(180deg);
  border-radius: 1rem;
}
#video{
  background-color: #1e1e1e;
}
.debug-info{
  z-index: 99999;
  transition: opacity .2s;
  position: absolute;
  background-color: rgba(255,255,255,.5);
  bottom: 1rem;
  right: 1rem;
  padding: 10px;
}

.alert{
  display: inline-block;
  background-color: rgba(255,255,255,.8)
}
.game-start{
  z-index: 999;
  position: absolute;
  top: 40%;
  text-align: center;
  font-size: 4rem;
  width: 100%;
}

.question{
  z-index: 999;
  position: absolute;
  bottom: 2rem;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  width: 100%;
  color: white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.judge{
  z-index: 1000;
  position: absolute;
  font-size: 20rem;
  top: 300px;
  left: 5rem;
}

.judge span{
  display: inline-block;
}

.score, .q-num{
  font-size: 3rem;
  position: absolute;
  font-weight: 900;
  top: 1rem;
  right: 2rem;
  text-shadow: 0 0 1rem white;
}
.q-num{
  left: 2rem;
  right: auto;
}
.game-over .score{
  position: relative;
}

.line{
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 2rem;
  font-size: 1.5rem;
  color: rgba(150,150,150,.8);
  border-bottom: .25rem dashed rgba(150,150,150,.5)
}

.hide{
  opacity: 0
}
